@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

html {
    min-width: 300px;
    background-color: #eee;
    margin: 7px;
}

body {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "PT Serif", serif;
    font-weight: 300;
    font-size: 112.5%;
    line-height: 1.4;
    color: #000;
}

p {
    margin: 0;
}

ol,
ul {
    list-style: none;
}

@media screen and (min-width: 600px) {
    html {
        padding: 15px;
    }

    body {
        padding: 30px;
    }
}

@media screen and (max-width: 600px) {
    html {
        padding: 7px;
    }

    body {
        padding: 16px;
    }
}