.nav_main {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-style: italic;

    div {
        .links {
            text-decoration: underline;
            color: #000;
            cursor: pointer;
            transition: background-color .1s ease-in, box-shadow .1s ease-in, -webkit-box-shadow .1s ease-in;
        }

        .links:hover {
            background-color: #ddd;
            -webkit-box-shadow: 0 0 0 5px #ddd;
            box-shadow: 0 0 0 5px #ddd;
            color: #000;
        }
    }
}