@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.about {
    border-bottom: 1px dashed #777;

    p {
        margin-bottom: 30px;
        font-family: "Roboto", monospace;
    }
}

@media screen and (min-width: 1150px) {
    .about {
        font-size: 1.8em;

        p {
            max-width: 700px;
        }
    }
}

@media screen and (min-width: 900px) and (max-width: 1149px) {
    .about {
        font-size: 1.6em;

        p {
            max-width: 550px;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    .about {
        font-size: 1.4em;

        p {
            max-width: 500px;
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 599px) {
    .about {
        font-size: 1.1em;

        p {
            max-width: 400px;
        }
    }
}

@media screen and (min-width: 800px) {
    .about {
        margin-bottom: 100px;
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 599px) {
    .about {
        margin-bottom: 60px;
        padding-bottom: 20px;
    }
}

// font-size: 1.2em;
// font-family: "Roboto",
// monospace;
// font-weight: 300;
// line-height: 1.5em;